body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #c7c7c7;
}

a {
  color: #00B7FF;
}

.button {
  background-color: #00a848;
  padding: .7rem;
  margin: .5rem;
  margin-top: 1rem;
  border-radius: 5px;
  color: #e9e9e9;
  text-decoration: none;
  box-shadow: 3px 2px 2px black;
}

.button:hover {
  background-color: #34d7c3;
}

img {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  box-shadow: 3px 2px 2px black;
}
